<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon-leaflife.ico">
    <link rel="stylesheet" href="/assets/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <title>LeafLife - Faça seu Login</title>
</head>

<body>
        <header>
            <img id="logo" src="/assets/img/logo-horizontal-pequeno.png"/>
        </header>

        <h1> Faça seu Login </h1>
        <section class="formulario-login">
            <form>
            <label for="login"> Usuário ou E-mail </label>
            <input type="text" id="login" name="login"> 

            <label for="senha"> Senha </label>
            <input type="text" id="senha" name="senha"> 
            <button type="submit" class="botoes">Acessar </button>
        </form>
        </section>

        <section class="links-extras">

        <p> Recuperar Senha </p>
        <p> Criar Conta </p>

        </section>


    
     


 
</body>
</html>